{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление транзакциями</title>
    <link rel="stylesheet" href="{% static 'deps/css/home/transactions.css' %}"> <!-- Подключение стилевого файла -->
</head>
<body>

{% if messages %}
<div id="message-box" class="message-box">
    {% for message in messages %}
    <div class="message">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<div class="container">
    <nav class="sidebar">
        <ul>
            <li><a href="{% url 'home:profile' %}"><img src="{% static '/deps/icons/profile_24.png' %}" alt="Профиль">
                Профиль</a></li>
            <li><a href="{% url 'home:facial' %}"><img src="{% static '/deps/icons/home_24.png' %}" alt="главная">
                Главная</a></li>
            <li><a href="{% url 'categories:categories' %}"><img src="{% static '/deps/icons/category_24.png' %}"
                                                                 alt="Категории"> Категории</a></li>
            <li><a href="{% url 'transactions:transactions' %}"><img
                    src="{% static '/deps/icons/transactions_24.png' %}" alt="Транзакции"> Транзакции</a></li>
            <li><a href="{% url 'home:reports' %}"><img src="{% static '/deps/icons/reports_24.png' %}" alt="Отчеты">
                Отчеты</a></li>
            <li><a href="#analytics"><img src="{% static '/deps/icons/analysts_24.png' %}" alt="Аналитика">
                Аналитика</a></li>
            <li><a href="#settings"><img src="{% static '/deps/icons/settings_24.png' %}" alt="Настройки"> Настройки</a>
            </li>
        </ul>
    </nav>

    <div class="main-content">
        <h1 class="header">CashControl <img src="{% static '/deps/icons/logo_32.png' %}" class="logo"></h1>

        <h2>Управление транзакциями</h2>

        <div id="today-summary">
            <h3>Транзакции за месяц</h3>
            <p>Доходы: <span id="today-income" class="income-value">{% if month_income_transactions is None %}0.00
                {% else %}{{month_income_transactions}}{% endif %}</span> ₽</p>
            <p>Расходы: <span id="today-expense" class="expense-value">{% if month_expense_transactions is None %}0.00
                {% else %}{{month_expense_transactions}}{% endif %}</span> ₽</p>
        </div>

        <div class="button-container">
            <button class="big-button" onclick="document.getElementById('modal').style.display='block'">Добавить
                транзакцию
            </button>
            <button class="secondary-button" onclick="importTransactions()">Импортировать транзакции</button>
            <button class="secondary-button" onclick="exportTransactions()">Экспортировать транзакции</button>
        </div>

        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="hideAddTransactionForm()">&times;</span>
                <h2 id="transaction-type-header">Добавить транзакцию</h2>

                <!-- Вкладки -->
                <div class="tabs">
                    <div id="expense-tab" class="tab active" onclick="selectTransactionType('expense')">Расход</div>
                    <div id="income-tab" class="tab" onclick="selectTransactionType('income')">Доход</div>
                </div>

                <!-- Содержимое для вкладки "Расход" -->
                <div id="expense" class="tabcontent" style="display: block;">
                    <form method="POST" action="{% url 'transactions:add_transactions' %}"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="date" name="transaction_date" id="transaction_date" required>
                        <input type="number" name="transaction_amount" placeholder="Сумма" required>


                        <select name="transaction_category" id="expense-category" required>
                            <option value="" disabled selected>Выберите категорию</option>
                            {% for categories in expense_categories %}
                            <option value="{{ categories.id }}">{{ categories.name }}</option>
                            {% endfor %}

                        </select>

                        <input type="text" name="transaction_description" placeholder="Описание" required>

                        <select name="payment_method" required>
                            <option value="" disabled selected>Выберите метод оплаты</option>
                            {% for payment in payment_all %}
                            <option value="{{ payment.id }}">{{ payment.type }}</option>
                            {% endfor %}
                        </select>

                        <label for="receipt-upload_id">Загрузить квитанцию (по желанию):</label>
                        <input type="file" id="receipt-upload_id" name="receipt_upload" accept="image/*">

                        <button type="submit">Сохранить</button>
                    </form>
                </div>

                <!-- Содержимое для вкладки "Доход" -->
                <div id="income" class="tabcontent" style="display: none;">
                    <form method="POST" action="{% url 'transactions:add_transactions' %}"
                          enctype="multipart/form-data">
                        {% csrf_token %}

                        <input type="date" name="transaction_date" id="income_transaction_date" required>
                        <input type="number" name="transaction_amount" placeholder="Сумма" required>


                        <select name="transaction_category" id="income-category" required>
                            <option value="" disabled selected>Выберите категорию</option>
                            {% for categories in income_categories %}
                            <option value="{{ categories.id }}">{{ categories.name }}</option>
                            {% endfor %}

                        </select>

                        <input type="text" name="transaction_description" placeholder="Описание" required>

                        <label for="receipt-upload">Загрузить квитанцию (по желанию):</label>
                        <input type="file" id="receipt-upload" name="receipt_upload" accept="image/*">

                        <button type="submit">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>


        <div class="transactions-section">
            <h2>Последние транзакции</h2>

            <div class="filter-sort-container">
                <!-- Кнопка для открытия модального окна фильтрации -->
                <button class="icon-button" onclick="toggleFilterModal()" title="Фильтровать">
                    <img src="{% static '/deps/icons/filter_24.png' %}" alt="Фильтровать" width="20"> Фильтр
                </button>

                <!-- Новый выпадающий список для выбора периода -->
                <select id="filter-time-period" onchange="setDatesFromPeriodAndToggle()">
                    <option value="all_time">За все время</option>
                    <option value="1">За день</option>
                    <option value="7">За неделю</option>
                    <option value="30">За месяц</option>
                </select>

                <div class="sort-dropdown">
                    <button class="icon-button" onclick="toggleSortOptions()" title="Сортировать">
                        <img src="{% static '/deps/icons/sorting_24.png' %}" alt="Сортировать" width="20"> Сортировка
                    </button>
                    <div class="sort-options" id="sort-options" style="display: none;">
                        <button onclick="sortTransactions('asc')">От ранней к поздней</button>
                        <button onclick="sortTransactions('desc')">От поздней к ранней</button>
                    </div>
                </div>
            </div>

            <div class="transactions-list" id="transactions-list">
                {% include 'transactions/transactions_partial.html' %}
            </div>

        </div>

        <!-- Модальное окно для фильтров -->
        <div id="filterModal" class="modal" style="display: none;">
            <div class="modal-content">
                <span class="close" onclick="toggleFilterModal()">&times;</span>
                <h3>Фильтрация</h3>

                <label for="filter-transaction-type">Тип транзакции:</label>
                <select id="filter-transaction-type">
                    <option value="all_type">Все</option>
                    <option value="income">Доход</option>
                    <option value="expense">Расход</option>
                </select>

                <div style="display: flex; justify-content: space-between;">
                    <div style="width: 48%;">
                        <label for="filter-start-date">Дата начала:</label>
                        <input type="date" id="filter-start-date" pattern="\d{4}-\d{2}-\d{2}" placeholder="YYYY-MM-DD">
                    </div>
                    <div style="width: 48%;">
                        <label for="filter-end-date">Дата окончания:</label>
                        <input type="date" id="filter-end-date" pattern="\d{4}-\d{2}-\d{2}" placeholder="YYYY-MM-DD">
                    </div>
                </div>

                <div style="display: flex; justify-content: space-between;">
                    <div style="width: 48%;">
                        <label for="filter-amount-from">Сумма от:</label>
                        <input type="number" id="filter-amount-from" placeholder="Введите сумму от">
                    </div>
                    <div style="width: 48%;">
                        <label for="filter-amount-to">Сумма до:</label>
                        <input type="number" id="filter-amount-to" placeholder="Введите сумму до">
                    </div>
                </div>

                <div style="margin-top: 20px;">
                    <button onclick="clearFilters()" class="reset-button">Сбросить фильтры</button>
                </div>

                <div style="margin-top: 20px; display: inline-block;">
                    <button onclick="toggleFilterModal()" class="cancel-button">Отмена</button>
                </div>
                <div style="margin-top: 20px;">
                    <button onclick="applyFilters()" class="apply-button">Применить</button>
                </div>
            </div>
        </div>


    </div>
</div>

<script src="{% static 'deps/javascript/transactions_form.js' %}"></script>
</body>
</html>

