{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление категориями</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap">
    <link rel="stylesheet" href="{% static 'deps/css/home/categories.css' %}"> <!-- Подключение стилевого файла -->
</head>
<body>

<div class="container">
    <nav class="sidebar">
        <ul>
            <li><a href="{% url 'home:profile' %}"><img src="{% static '/deps/icons/profile_24.png' %}" alt="Профиль">
                Профиль</a></li>
            <li><a href="{% url 'home:facial' %}"><img src="{% static '/deps/icons/home_24.png' %}" alt="главная">
                Главная</a></li>
            <li><a href="{% url 'home:categories' %}"><img src="{% static '/deps/icons/category_24.png' %}"
                                                           alt="Категории">
                Категории</a></li>
            <li><a href="{% url 'home:transactions' %}"><img src="{% static '/deps/icons/transactions_24.png' %}"
                                                             alt="Транзакции">
                Транзакции</a></li>
            <li><a href="{% url 'home:reports' %}"><img src="{% static '/deps/icons/reports_24.png' %}" alt="Отчеты">
                Отчеты</a></li>
            <li><a href="#analytics"><img src="{% static '/deps/icons/analysts_24.png' %}" alt="Аналитика">
                Аналитика</a></li>
            <li><a href="#settings"><img src="{% static '/deps/icons/settings_24.png' %}" alt="Настройки"> Настройки</a>
            </li>
        </ul>
    </nav>

    <div class="main-content">
        <h1>
            CashControl <img src="{% static '/deps/icons/logo_32.png' %}" class="logo">
        </h1>


        <div class="main-content">
            <h1>Управление категориями</h1>

            <div class="category-toggle">
                <button id="expense-btn" class="active">Категории расходов</button>
                <button id="income-btn">Категории доходов</button>
            </div>

            <div class="category-list">
                <div class="categories expense-categories">

                    <div class="category-item">
                        <div class="category-info">
                            <input type="text" class="category-title-input" value="Категория 1" style="display: none;">
                            <span class="category-title"
                                  style="display: inline; font-weight: 600;">Категория расхода 1</span>
                            <input type="text" class="category-description-input" value="Краткое описание категории 1"
                                   style="display: none;">
                            <span class="category-description" style="display: block; color: #555;">Краткое описание категории расхода 1</span>
                        </div>

                        <button class="edit-btn" onclick="editCategory(this)">Редактировать</button>
                        <button class="view-btn" onclick="viewCategory(this)">Статистика категории</button>
                        <button class="save-btn" onclick="saveCategory(this)" style="display: none;">Сохранить</button>
                        <button class="cancel-btn" onclick="cancelEdit(this)" style="display: none;">Отмена</button>

                        <div class="basket-icon-container">
                            <img src="{% static 'deps/icons/basket_24.png' %}" alt="Корзина" class="basket-icon"
                                 style="display: none;" onclick="handleBasketClick()">
                        </div>
                    </div>

                    <div class="category-item">
                        <div class="category-info">
                            <input type="text" class="category-title-input" value="Категория 1" style="display: none;">
                            <span class="category-title"
                                  style="display: inline; font-weight: 600;">Категория расхода 2</span>
                            <input type="text" class="category-description-input" value="Краткое описание категории 1"
                                   style="display: none;">
                            <span class="category-description" style="display: block; color: #555;">Краткое описание категории расхода 2</span>
                        </div>
                        <button class="edit-btn" onclick="editCategory(this)">Редактировать</button>
                        <button class="view-btn" onclick="viewCategory(this)">Статистика категории</button>
                        <button class="save-btn" onclick="saveCategory(this)" style="display: none;">Сохранить</button>
                        <button class="cancel-btn" onclick="cancelEdit(this)" style="display: none;">Отмена</button>

                        <div class="basket-icon-container">
                            <img src="{% static 'deps/icons/basket_24.png' %}" alt="Корзина" class="basket-icon"
                                 style="display: none;" onclick="handleBasketClick()">
                        </div>
                    </div>
                </div>

                <div class="categories income-categories" style="display: none;">

                    <div class="category-item">
                        <div class="category-info">
                            <input type="text" class="category-title-input" value="Категория 1" style="display: none;">
                            <span class="category-title"
                                  style="display: inline; font-weight: 600;">Категория дохода 1</span>
                            <input type="text" class="category-description-input" value="Краткое описание категории 1"
                                   style="display: none;">
                            <span class="category-description" style="display: block; color: #555;">Краткое описание категории дохода 1</span>
                        </div>
                        <button class="edit-btn" onclick="editCategory(this)">Редактировать</button>
                        <button class="view-btn" onclick="viewCategory(this)">Статистика категории</button>
                        <button class="save-btn" onclick="saveCategory(this)" style="display: none;">Сохранить</button>
                        <button class="cancel-btn" onclick="cancelEdit(this)" style="display: none;">Отмена</button>

                        <div class="basket-icon-container">
                            <img src="{% static 'deps/icons/basket_24.png' %}" alt="Корзина" class="basket-icon"
                                 style="display: none;" onclick="handleBasketClick()">
                        </div>
                    </div>

                    <div class="category-item">
                        <div class="category-info">
                            <input type="text" class="category-title-input" value="Категория 1" style="display: none;">
                            <span class="category-title"
                                  style="display: inline; font-weight: 600;">Категория дохода 2</span>
                            <input type="text" class="category-description-input" value="Краткое описание категории 1"
                                   style="display: none;">
                            <span class="category-description" style="display: block; color: #555;">Краткое описание категории дохода 2</span>
                        </div>
                        <button class="edit-btn" onclick="editCategory(this)">Редактировать</button>
                        <button class="view-btn" onclick="viewCategory(this)">Статистика категории</button>
                        <button class="save-btn" onclick="saveCategory(this)" style="display: none;">Сохранить</button>
                        <button class="cancel-btn" onclick="cancelEdit(this)" style="display: none;">Отмена</button>

                        <div class="basket-icon-container">
                            <img src="{% static 'deps/icons/basket_24.png' %}" alt="Корзина" class="basket-icon"
                                 style="display: none;" onclick="handleBasketClick()">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Модальное окно для статистики категории -->
            <div id="statisticsModal" class="modal statistics-modal" style="display: none;">
                <div class="modal-content">
                    <span class="close-statistics-modal">&times;</span>
                    <h2 id="modal-title">Статистика категории</h2>
                    <p>Сумма затрат в этом месяце: <span id="monthly-expense">0</span> руб.</p>
                    <div id="chart-container">
                        <p>Здесь будет ваш график.</p>
                    </div>
                </div>
            </div>


            <div class="add-category">
                <button id="openModalBtn">Добавить категорию</button>
            </div>

            <!-- Модальное окно для добавления категории -->
            <div id="addCategoryModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Добавить новую категорию</h2>
                    <form id="addCategoryForm">
                        <label for="categoryType">Тип категории:</label>
                        <select id="categoryType" required>
                            <option value="">Выберите тип</option>
                            <option value="income">Доход</option>
                            <option value="expense">Расход</option>
                        </select>
                        <label for="new-category-name">Название категории:</label>
                        <input type="text" id="new-category-name" placeholder="Название категории" required>
                        <label for="new-description-name">Описание категории:</label>
                        <input type="text" id="new-description-name" placeholder="Описание категории" required>
                        <button type="submit">Сохранить</button>
                        <button type="button" class="close-modal">Отмена</button>
                    </form>
                </div>
            </div>


        </div>
        <div class="visualization">
            <h2>Визуализация данных</h2>

            <!-- Контейнер для графиков -->
            <div class="chart-container">
                <!-- Первый график -->
                <div class="chart-item">
                    <h3>График 1: Категория 1</h3>
                    <canvas id="categoryChart1" width="300" height="200"></canvas>
                </div>

                <!-- Второй график -->
                <div class="chart-item">
                    <h3>График 2: Категория 2</h3>
                    <canvas id="categoryChart2" width="300" height="200"></canvas>
                </div>
            </div>

            <script src="{% static 'deps/javascript/categories.js' %}"></script>

        </div>
    </div>
</div>

</body>
</html>