body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    width: 100%;
}

/* Стили для бокового меню */
.sidebar {
    width: 130px; /* Боковое меню */
    background-color: #f4f4f4; /* Цвет фона */
    padding: 20px; /* Внутренние отступы */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #e0e0e0;
}



/* Стили для основного содержимого страницы */
.main-content {
    padding: 20px;
    flex-grow: 1;
}

.category-toggle {
    margin-bottom: 20px; /* Отступ снизу для визуального разделения */
}

.category-toggle button {
    padding: 10px 15px; /* Внутренние отступы */
    border: none; /* Убираем рамку */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Курсор указателя */
    margin-right: 10px; /* Отступ между кнопками */
    transition: background-color 0.3s; /* Плавный переход фона */
}

.category-toggle button.active {
    background-color: #5cb85c; /* Цвет фона для активной кнопки */
    color: white; /* Цвет текста в активной кнопке */
}

.category-toggle button:hover {
    background-color: #4cae4c; /* Цвет фона при наведении */
    color: white; /* Цвет текста при наведении */
}



/* Стили для списка категорий */
.categories {
    display: grid; /* Используем CSS Grid для расположения */
    grid-template-columns: repeat(3, 1fr); /* Три колонки равной ширины */
    gap: 20px; /* Расстояние между ячейками */
}


.category-item:hover {
    transform: translateY(-2px); /* Эффект при наведении */
}

/* Стили для заголовка категории */
.category-title {
    font-weight: 600; /* Полужирный текст */
    color: black; /* Синий цвет */
    text-decoration: none; /* Без подчеркивания */
    margin-bottom: 5px; /* Отступ снизу */
    display: block; /* Делаем ссылку блочным элементом для кликабельной зоны */
}

/* Стили для описания категории */
.category-description {
    color: #555; /* Темно-серый текст */
    margin-bottom: 10px; /* Отступ снизу перед кнопками */
}

/* Стили для кнопок */
button {
    width: auto; /* Авто ширина для кнопок */
    padding: 8px 12px; /* Отступы внутри кнопки */
    background-color: transparent; /* Прозрачный фон */
    color: #000000; /* Черный цвет текста */
    border: 1px solid #d3d3d3; /* Светло-серая рамка */
    border-radius: 4px; /* Закругленные углы */
    cursor: pointer; /* Указатель при наведении на кнопку */
    font-size: 1em; /* Размер шрифта для кнопки */
    transition: background-color 0.3s, transform 0.3s; /* Плавный переход для фона и увеличения */
    margin-top: 10px; /* Отступ сверху для кнопки */
}

button:hover {
    background-color: rgba(211, 211, 211, 0.5); /* Полупрозрачный светло-серый фон при наведении */
    transform: scale(1.02); /* Увеличение кнопки при наведении */
}

/* Стили для формы добавления категории */
.add-category input {
    width: 100%; /* Сделать поля ввода на всю ширину контейнера */
    padding: 10px; /* Отступы внутри полей ввода */
    margin-top: 10px; /* Отступ сверху для каждого поля */
    border: 1px solid #ccc; /* Светло-серая рамка */
    border-radius: 5px; /* Закругленные углы */
    box-sizing: border-box; /* Чтобы ширина включала отступы и границы */
}

/* Убираем отступ для первого поля ввода */
.add-category input:first-of-type {
    margin-top: 0; /* Нет отступа сверху для первого поля */
}

/* Стили для кнопки */
.add-category button {
    width: auto; /* Авто ширина для кнопок */
    padding: 8px 12px; /* Отступы внутри кнопки */
    background-color: transparent; /* Прозрачный фон */
    color: #000000; /* Черный цвет текста */
    border: 1px solid #d3d3d3; /* Светло-серая рамка */
    border-radius: 4px; /* Закругленные углы */
    cursor: pointer; /* Указатель при наведении на кнопку */
    font-size: 1em; /* Размер шрифта для кнопки */
    transition: background-color 0.3s, transform 0.3s; /* Плавный переход для фона и увеличения */
    margin-top: 10px; /* Отступ сверху для кнопки */
}

.add-category button:hover {
    background-color: rgba(211, 211, 211, 0.5); /* Полупрозрачный светло-серый фон при наведении */
    transform: scale(1.02); /* Увеличение кнопки при наведении */
}


/* графики
/* Основные стили для контейнера визуализации */
.visualization {
    max-width: 550px; /* Ограничиваем максимальную ширину */
    margin: 0 auto; /* Центрируем контейнер */
    padding: 20px;
}

/* Стили для контейнера с графиками */
.visualization {
    max-width: 800px; /* Ограничиваем максимальную ширину */
    margin: 0 auto; /* Центрируем контейнер */
    padding: 20px;
    text-align: center; /* Центрируем текст внутри контейнера */
}

/* Стили для контейнера с графиками */
.chart-container {
    display: flex; /* Используем flex для размещения графиков */
    justify-content: center; /* Центрируем графики */
    gap: 20px; /* Отступы между графиками */
}

/* Стили для отдельного графика */
.chart-item {
    flex: 0 0 500px; /* Фиксированная ширина для графиков */
    background-color: #ffffff; /* Белый фон */
    border: 1px solid #ccc; /* Серая рамка */
    border-radius: 5px; /* Закругленные углы */
    padding: 15px; /* Отступ внутри блока */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для эффекта подъема */
}

/* Стили для заголовка графиков */
.chart-item h3 {
    margin: 0 0 10px 0; /* Отступ снизу перед canvas */
}

/* Стили для canvas, если нужно */
canvas {
    max-width: 100%; /* Заполняем доступное пространство */
}

/* Дополнительная настройка для отрисовки графиков */
.chart-container {
    gap: 50px; /* Отступы между графиками */
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 30px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Стили для меток полей ввода */
.modal-content label {
    font-weight: bold;  /* Жирный текст */
    color: #333;        /* Темно-серый цвет для лучшей видимости */
    margin-bottom: 5px; /* Отступ снизу для разделения метки и поля ввода */
    display: block;     /* Устанавливаем блочный уровень, чтобы метка занимала всю ширину */
}


/* Стили для заголовка формы в модальном окне */
.modal-content h2 {
    margin-bottom: 20px; /* Отступ снизу */
    font-size: 24px; /* Размер шрифта заголовка */
    text-align: center; /* Центрируем заголовок */
}

/* Стили для каждого поля ввода */
.modal-content input[type="text"],
.modal-content select {
    width: 100%; /* Полная ширина */
    padding: 10px; /* Внутренние отступы */
    margin-bottom: 15px; /* Отступ снизу для разделения полей */
    border: 1px solid #ccc; /* Светло-серая рамка */
    border-radius: 5px; /* Закругленные углы */
    box-sizing: border-box; /* Включить границы в ширину */
}

/* Стили для кнопок внутри модального окна */
.modal-content button {
    width: 100%; /* Полная ширина */
    padding: 10px; /* Внутренние отступы для кнопок */
    background-color: #5cb85c; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убираем рамку */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Курсор указателя */
    transition: background-color 0.3s; /* Плавный переход при наведении */
}

.modal-content button:hover {
    background-color: #4cae4c; /* Темнее при наведении */
}

/* Стили для кнопки закрытия */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Стили для кнопок сохранения и отмены */
.save-btn, .cancel-btn {
    padding: 10px 15px; /* Внутренние отступы */
    border: 1px solid #888; /* Более темная рамка */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Курсор указателя при наведении */
    margin-left: 10px; /* Отступ между кнопками */
    background-color: #5cb85c; /* Более насыщенный светло-зеленый фон для Save */
    color: #ffffff; /*
    transition: background-color 0.3s, color 0.3s; /* Плавный переход цвета */
}

/* Эффект при наведении для Save */
.save-btn:hover {
    background-color: #5cb85c; /* Более темный зеленый фон при наведении */
    color: #ffffff; /* Белый текст при наведении */
}

/* Опционально: изменение цвета для кнопки "Сохранить" */
.cancel-btn {
    background-color: #d9534f; /* Более насыщенный светло-красный фон для Cancel */
    color: #ffffff; /* Темно-красный текст */
}

/* Эффект при наведении для Cancel */
.cancel-btn:hover {
    background-color: #d9534f; /* Более темный красный фон при наведении */
    color: #ffffff; /* Белый текст при наведении */
}

/* Стили для полей ввода */
.category-title-input,
.category-description-input {
    width: 100%; /* Полная ширина */
    padding: 12px; /* Внутренние отступы для более комфортного ввода */
    margin-bottom: 15px; /* Отступ между полями ввода */
    border: 1px solid #ccc; /* Светло-серая рамка */
    border-radius: 5px; /* Закругленные углы */
    box-sizing: border-box; /* Учитываем границы и отступы в ширину */
    font-size: 16px; /* Размер шрифта для удобства */
    transition: border-color 0.3s; /* Плавный переход цветовой рамки */
}

/* Эффект при получении фокуса на полях ввода */
.category-title-input:focus,
.category-description-input:focus {
    border-color: #5cb85c; /* Цвет рамки при фокусе - аналогичный зеленый */
    outline: none; /* Убираем стандартный обвод при фокусе */
}


/* Стили для отдельной категории */
.category-item {
    background-color: #ffffff; /* Белый фон */
    border: 1px solid #ccc; /* Серая рамка */
    border-radius: 5px; /* Закругленные углы */
    padding: 15px; /* Отступ внутри блока */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для эффекта подъема */
    transition: transform 0.2s; /* Анимация при наведении */
}

/* Дополнительные стили для улучшения визуального восприятия */
.category-info {
    flex: 1; /* Занимает всё доступное пространство */
    margin-bottom: 10px; /* Отступ снизу, чтобы кнопки не прижимались к тексту */
}


.basket-icon-container {
    display: flex; /* Используем flex для выравнивания значка корзины */
    align-items: center; /* Центрирование по вертикали */
    justify-content: flex-end; /* Выровнять по правому краю */
}

/* Стили для значка корзины */
.basket-icon {
    width: 24px; /* Ширина значка корзины */
    height: 24px; /* Высота значка корзины */
    cursor: pointer; /* Указатель при наведении */
    transition: transform 0.2s; /* Плавная анимация для увеличения */
}

/* Эффект увеличения при наведении */
.basket-icon:hover {
    transform: scale(1.2); /* Увеличиваем размер на 20% при наведении */
}

/* Стили для кнопок */
.edit-btn, .view-btn, .save-btn, .cancel-btn {
    margin-top: 5px; /* Отступ между кнопками */
}




/* Стили для модального окна статистики категории */
.statistics-modal {
    display: flex; /* Конфигурация как flex-блока */
    position: fixed; /* Зафиксирование окна */
    z-index: 1000; /* На переднем плане после других компонентов */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина экрана */
    height: 100%; /* Полная высота экрана */
    overflow: auto; /* Включить прокрутку */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

.statistics-modal .modal-content {
    background-color: #ffffff; /* Белый фон для содержимого */
    margin: auto; /* Центрировать содержимое */
    padding: 20px; /* Внутренние отступы */
    border: 1px solid #888; /* Рамка */
    width: 90%; /* Ширина окна */
    max-width: 900px; /* Увеличенная максимальная ширина */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
}

/* Стили для кнопки закрытия */
.close-statistics-modal {
    color: #aaa; /* Цвет крестика */
    float: right; /* Правое выравнивание */
    font-size: 28px; /* Размер шрифта */
    font-weight: bold; /* Жирный текст */
}

.close-statistics-modal:hover,
.close-statistics-modal:focus {
    color: black; /* Цвет при наведении */
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer; /* Курсор при наведении */
}

/* Стили для контейнера графика */
#chart-container {
    height: 300px; /* Высота контейнера графика */
    border: 1px solid #ccc; /* Граница контейнера */
    border-radius: 5px; /* Закругленные углы */
    background-color: #f9f9f9; /* Фон контейнера */
    display: flex; /* Flexbox для центрирования содержимого */
    align-items: center; /* Вертикальное центрирование */
    justify-content: center; /* Горизонтальное центрирование */
}

/* Выделение суммы затрат жирным шрифтом */
#monthly-expense {
    font-weight: bold; /* Делает сумму жирной */
    font-size: 1.5em; /* Увеличиваем размер шрифта для акцента */
}
