/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}


.container {
    display: flex; /* Используем флекс боксовое выравнивание для контейнера */

}

.sidebar {
    width: 130px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Стили для списка меню */
.sidebar ul {
    list-style: none;
    padding: 0;
}

/* Элементы списка в меню */
.sidebar ul li {
    margin-bottom: 15px;
}

/* Ссылки в меню */
.sidebar ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px; /* Добавьте отступ для удобства клика */
    display: block; /* Делаем ссылку блочным элементом */
    border-radius: 3px; /* Немного закруглённые углы для эстетики */
    transition: background-color 0.3s; /* Плавный переход для фона */
}

/* Эффект при наведении на ссылки */
.sidebar ul li a:hover {
    background-color: #e0e0e0; /* Подсветка серым цветом при наведении */
}

.header {
    text-align: left; /* Выравнивание текста влево */
    margin-bottom: 20px; /* Отступ снизу */
}

.header .logo {
    vertical-align: middle; /* Выравнивание по вертикали */
    margin-left: 0px; /* Отступ между заголовком и логотипом */
}



.main-content {
    padding: 20px; /* Отступы вокруг основного контента */
    flex: 1; /* Занимаем оставшееся пространство контейнера */
    text-align: center; /* Центрируем текст */
}

.main-content h2 {
    text-align: center; /* Выравнивание подзаголовка по центру, если необходимо */
}

h1, h2 {
    margin-bottom: 20px; /* Отступы снизу заголовков */
}


.button-container {
    margin-bottom: 20px;
}

.big-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s;
}

.big-button:hover {
    background-color: #218838; /* Темнее при наведении */
}

.secondary-button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s;
}

.secondary-button:hover {
    background-color: #0056b3; /* Темнее при наведении */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 30px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tabs {
    margin: 20px 0;
}

.tab {
    padding: 12px 20px;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #ddd; /* Цвет границы */
    border-radius: 20px;
    background-color: #f4f4f4; /* Цвет фона по умолчанию */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход цвета */
    display: inline-block; /* Размещение вкладок в одной строке */
}

.tab:hover {
    background-color: #e0e0e0; /* Цвет фона при наведении */
}

.tab.active {
    background-color: #28a745; /* Цвет фона для активной вкладки (ярко-зеленый) */
    color: white; /* Цвет текста для активной вкладки */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Тень для активной вкладки */
}

.tabcontent {
    display: none;
}

input[type="date"],
input[type="number"],
input[type="text"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 12px 20px;
    background-color: #28a745; /* Зелёный цвет кнопки */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #218838; /* Темно-зеленый цвет кнопки при наведении */
}


/* Стили для кнопок редактирования и удаления */
.edit-button, .delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.edit-button:hover {
    color: #007bff;
}

.delete-button:hover {
    color: #dc3545;
}

.filter-sort-container {
    margin-bottom: 15px; /* Отступ под кнопками */
    display: flex; /* Используем flex для выравнивания элементов */
    align-items: center; /* Вертикальное выравнивание по центру */
}

.icon-button {
    background-color: transparent; /* Прозрачный фон */
    border: none; /* Убираем рамки */
    cursor: pointer; /* Указатель при наведении */
    margin-right: 10px; /* Отступы между кнопками */
    display: flex; /* Flexbox для кнопок */
    align-items: center; /* Вертикальное выравнивание */
}

.button-label {
    margin-left: 5px; /* Отступ между иконкой и текстом */
    font-size: 14px; /* Размер шрифта подписи */
    color: #333; /* Цвет текста */
}

.icon-button img {
    vertical-align: middle; /* Центрируем иконку по вертикали */
}

.icon-button:hover {
    opacity: 0.7; /* Изменение прозрачности при наведении */
}

select, input[type="file"] {
    width: calc(100% - 20px); /* Ширина полей ввода */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px; /* Овальные углы для полей ввода */
    box-sizing: border-box; /* Учитываем отступы и границы */
}

label {
    display: block; /* Отображаем метки как блочные элементы */
    margin: 10px 0; /* Отступы для меток */
}

#today-summary {
    margin-bottom: 20px; /* Отступ под секцией с сегодняшним балансом */
    padding: 20px; /* Отступ внутри */
    border: 1px solid #ccc; /* Рамка вокруг секции */
    border-radius: 5px; /* Закругленные углы */
    background-color: #FFFFFF; /* Цвет фона секции */
    text-align: center; /* Центрирование текста */
}

.income-value {
    font-size: 24px; /* Увеличенный размер шрифта для дохода */
    color: green; /* Зеленый цвет для дохода */
    font-weight: bold; /* Жирный шрифт */
}

.expense-value {
    font-size: 24px; /* Увеличенный размер шрифта для расхода */
    color: red; /* Красный цвет для расхода */
    font-weight: bold; /* Жирный шрифт */
}

.message-box {
    position: fixed; /* Фиксированное положение */
    top: 20px; /* Отступ сверху */
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Центрирование */
    z-index: 1000; /* На переднем плане */
    width: 90%; /* Ширина сообщения */
    max-width: 500px; /* Максимальная ширина */
    margin: 0 auto; /* Автоматический отступ */
}

.message {
    background-color: #4CAF50; /* Зеленый фон */
    color: white; /* Белый текст */
    padding: 15px; /* Внутренние отступы */
    border-radius: 5px; /* Закругленные углы */
    margin-bottom: 10px; /* Отступ между сообщениями */
    animation: fadeIn 0.5s, fadeOut 0.5s 9.5s; /* Анимация появления и исчезновения */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.transactions-section {
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-sort-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
}

.transactions-list {
    margin-top: 10px;
}

.transactions-list div {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transaction-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.transaction-details {
    flex-grow: 1;
}

.transaction-date {
    display: block;
    font-weight: bold;
}

.transaction-description {
    color: #555;
}

.transaction-amount {
    font-weight: bold;
    font-size: 1.2em;
}

.negative-amount {
    color: red; /* Цвет для расходов */
}

.positive-amount {
    color: green; /* Цвет для доходов */
}


.sort-dropdown {
    position: relative; /* Позиционирование для выпадающего меню */
}

.sort-options {
    display: none; /* Скрыто по умолчанию */
    position: absolute; /* Позиционирование под кнопкой */
    z-index: 1000; /* Выше других элементов */
    background-color: white; /* Цвет фона для выпадающего меню */
    border: 1px solid #ccc; /* Цвет границы меню */
    border-radius: 5px; /* Закругленные углы */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень для эффекта поднятия */
    margin-top: 5px; /* Отступ от кнопки */
    width: 200px; /* Ширина выпадающего меню */
}

.sort-options button {
    display: block; /* Строка блока для каждой кнопки */
    padding: 10px; /* Внутренний отступ для кнопок в меню */
    text-align: left; /* Выравнивание текста по левому краю */
    border: none; /* Без границы */
    background-color: transparent; /* Прозрачный цвет фона */
    width: 100%; /* Ширина блока */
    cursor: pointer; /* Курсор указатель */
    transition: background-color 0.3s; /* Плавный переход фона */
}

.sort-options button:hover {
    background-color: #f0f0f0; /* Цвет фона при наведении на кнопки в меню */
}

.sort-options button.active {
    background-color: #007bff; /* Цвет фона для активной кнопки */
    color: white; /* Цвет текста для активной кнопки */
}

.reset-button {
    background-color: #e7e7e7; /* Серый фон для кнопки сброса */
    color: black; /* Белый текст для кнопки сброса */
    border: none; /* Без границ */
    padding: 10px 20px; /* Отступы */
    text-align: center; /* Центрирование текста */
    text-decoration: none; /* Без подчеркивания */
    display: inline-block; /* Внутренние блочные элементы */
    font-size: 16px; /* Размер шрифта */
    margin-right: 10px; /* Отступ справа для кнопок */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Указатель руки при наведении */
    transition: background-color 0.3s, box-shadow 0.3s; /* Плавные переходы */
}

.reset-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Затенение при наведении */
}

/* Кнопка применения */
.apply-button {
    background-color: #4CAF50; /* Зеленый фон для кнопки применения */
    color: white; /* Белый текст для кнопки применения */
    border: none; /* Без границ */
    padding: 10px 20px; /* Отступы */
    text-align: center; /* Центрирование текста */
    text-decoration: none; /* Без подчеркивания */
    display: inline-block; /* Внутренние блочные элементы */
    font-size: 16px; /* Размер шрифта */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Указатель руки при наведении */
    transition: background-color 0.3s, box-shadow 0.3s; /* Плавные переходы */
}

.apply-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Затенение при наведении */
}

/* Кнопка отмены */
.cancel-button {
    background-color: #e7e7e7; /* Светлый фон для кнопки отмены */
    color: black; /* Черный текст для кнопки отмены */
    border: none; /* Без границ */
    padding: 10px 20px; /* Отступы */
    text-align: center; /* Центрирование текста */
    text-decoration: none; /* Без подчеркивания */
    display: inline-block; /* Внутренние блочные элементы */
    font-size: 16px; /* Размер шрифта */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Указатель руки при наведении */
    transition: box-shadow 0.3s; /* Плавные переходы */
}

.cancel-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Затенение при наведении */
}

.no-transactions-message {
    color: #ff0000; /* Цвет текста (красный) */
    font-size: 16px; /* Размер шрифта */
    font-weight: bold; /* Жирное начертание текста */
    text-align: center; /* Центрирование текста */
    margin: 20px 0; /* Отступы сверху и снизу */
    padding: 10px; /* Внутренние отступы для лучшего визуального восприятия */
    border: 1px solid #ff0000; /* Красная рамка вокруг сообщения */
    border-radius: 5px; /* Сглаженные углы рамки */
    background-color: #ffe6e6; /* Светло-красный фон для подчеркивания */
}

.edit-transaction-button,
.delete-transaction-button {
    border: none; /* Убирает рамку */
    cursor: pointer; /* Устанавливает указатель при наведении */
}

.edit-transaction-button:hover,
.delete-transaction-button:hover {
    background-color: rgba(200, 200, 200, 0.3); /* Затенение при наведении */
    border-radius: 4px; /* Закругленные углы при наведении */
}

/* Стили для изображений внутри кнопок */
.edit-transaction-button img,
.delete-transaction-button img {
    width: 25px; /* Устанавливаем ширину иконы */
    height: 25px; /* Устанавливаем высоту иконы */
}


/* Уникальные стили для модального окна */
.unique-confirm-delete-modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Откреплено */
    z-index: 1000; /* На переднем плане */
    left: 0;
    top: 0;
    width: 100%; /* Ширина на весь экран */
    height: 100%; /* Высота на весь экран */
    overflow: auto; /* Включение прокрутки при необходимости */
    background-color: rgb(0, 0, 0); /* Черный фон с прозрачностью */
    background-color: rgba(0, 0, 0, 0.4); /* Черный с прозрачностью */
}

.unique-confirm-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% сверху и центрально */
    padding: 20px;
    border: 1px solid #888;
    width: 500px; /* Фиксированная ширина */
    height: 100px; /* Фиксированная высота для квадратной формы */
    position: relative; /* Для позиционирования крестика */
}

.unique-close {
    cursor: pointer; /* Указатель при наведении */
    position: absolute; /* Позиционируем крестик */
    top: 10px; /* Отступ сверху */
    right: 10px; /* Отступ справа */
    font-size: 28px;
    color: #aaa;
}

.unique-close:hover,
.unique-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.unique-btn-ok,
.unique-btn-cancel {
    margin: 5px;
    padding: 10px 15px; /* Паддинг для кнопок */
}


/* Контейнер для сообщений */
#message-container {
    position: fixed; /* Фиксированное положение */
    top: 20px; /* Отступ сверху */
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Центрирование */
    z-index: 1000; /* На переднем плане */
    width: 90%; /* Ширина сообщения */
    max-width: 500px; /* Максимальная ширина */
    border: none; /* Убираем рамку */

}

/* Стили для успешного сообщения */
.success-message {
    background-color: #4CAF50; /* Зеленый фон */
    color: white; /* Белый текст */
    padding: 15px; /* Внутренние отступы */
    border: 2px solid #4CAF50; /* Зеленая рамка */
    border-radius: 5px; /* Закругленные углы */
    text-align: center; /* Центрирование текста */
    margin-bottom: 10px; /* Отступ между сообщениями */
    animation: fadeIn 0.5s, fadeOut 0.5s 9.5s; /* Анимация появления и исчезновения */
}


/* ЭФФЕКТЫ ДЛЯ КНОПКИ ОК И ОТМЕНА ПРИ РЕДАКТИРОВАНИИ ТРАНЗАКЦИИ */

.transaction-date-input,
.transaction-description-input,
.transaction-sum-input {
    padding: 5px; /* Добавляем внутренние отступы для полей ввода */
    margin-top: 5px; /* Отступ сверху для разделения с другими элементами */
    font-size: 14px; /* Размер шрифта для лучшей читаемости */
}

.save-transaction-button,
.cancel-transaction-button {
    background-color: #4CAF50; /* Зеленый фон для кнопки "Ок" */
    color: white; /* Белый текст */
    padding: 10px 15px; /* Внутренние отступы */
    border: none; /* Убираем рамку */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Указатель при наведении */
    font-size: 16px; /* Размер шрифта */
    margin: 5px; /* Отступы вокруг кнопок */
    transition: background-color 0.3s, transform 0.3s; /* Плавные переходы для эффектов */
}

/* Стиль для кнопки "Отмена" */
.cancel-transaction-button {
    background-color: #f44336; /* Красный фон для кнопки "Отмена" */
}

/* Эффект наведения для кнопок */
.save-transaction-button:hover,
.cancel-transaction-button:hover {
    background-color: #45a049; /* Более темный зеленый при наведении */
    transform: scale(1.05); /* Увеличение кнопки при наведении */
}

/* Эффект наведения для "Отмена" */
.cancel-transaction-button:hover {
    background-color: #e53935; /* Более темный красный при наведении */
}
