{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CashControl</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'deps/css/main.css' %}"> <!-- Подключение стилевого файла -->
    <link rel="stylesheet" href="{% static 'deps/css/footer.css' %}"> <!-- Подключение стилевого файла -->
</head>
<body>
    <div class="header">
        <a href="#login">Войти</a>
        <a href="#register">Регистрация</a>
    </div>
    <div class="site-title">
        CashControl
    </div>
    <div class="slogan">
        Управляйте Деньгами
    </div>
    <div class="description">
        С нашим трекером вы сможете контролировать свои расходы и доходы, как настоящий финансовый гуру. Не дайте деньгам ускользнуть!
    </div>
    <button class="start-button">Начать сейчас</button>


<section class="features">
    <h2>Вы можете следить за расходами, выбирать категории, вести анализ трат, планировать бюджет и многое другое!</h2>

    <div class="feature-cards">
        <div class="feature-card">
            <h3>Графический анализ трат</h3>
            <img src="{% static 'deps/images/main/diogram.jpg' %}" alt="Графический анализ трат">
            <p>Анализируйте свои траты с помощью графиков и диаграмм.</p>
            <p>Используйте мощные визуализации для отслеживания своих финансовых привычек и распознавания тенденций в расходах. Наш инструмент предоставляет доступ к разнообразным графикам, которые помогут увидеть, как ваши траты распределяются по категориям.</p>
            <p>Просматривайте динамику ваших расходов со временем и устанавливайте финансовые цели для отслеживания прогресса.</p>
        </div>
        <div class="feature-card">
            <h3>Ведение учета доходов и расходов</h3>
            <img src="{% static 'deps/images/main/income.jpg' %}" alt="Учет доходов и расходов">
            <p>Легко отслеживайте ваши доходы и расходы на одном месте.</p>
            <p>Наше приложение предлагает интуитивно понятный интерфейс для управления вашими финансами. Вы сможете видеть, сколько вы тратите в каждой категории и где можно сократить расходы.</p>
            <p>Добавляйте заметки к каждой операции, чтобы помнить детали каждой транзакции.</p>
        </div>
        <div class="feature-card">
            <h3>Советы по сохранению бюджета</h3>
            <img src="{% static 'deps/images/main/budget.jpg' %}" alt="Советы по сохранению бюджета">
            <p>Получайте полезные советы для экономии вашего бюджета.</p>
            <p>Мы предлагаем рекомендации, которые помогут вам оптимизировать расходы, увеличить сбережения и достичь финансовой устойчивости. Наш инструмент анализирует ваши привычки в расходах и предоставляет персонализированные советы.</p>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="footer-content">
        <p>&copy; 2024 CashControl. Все права защищены.</p>
        <ul class="footer-links">
            <li><a href="#">Политика конфиденциальности</a></li>
            <li><a href="#">Условия использования</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </div>
</footer>

</body>
</html>